MONGODB_URI=mongodb_uri
NODE_ENV=development_enviornment


HIBP_HOST=https://api.pwnedpasswords.com/range
U_AGENT_EMAIL=harshlms.dev@gmail.com

NEXT_PUBLIC_API_HOST=http://localhost:3000

ACCESS_TOKEN_SECRET=access-token-secret
ACCESS_TOKEN_EXPIRY=access-token-expiry

# Email SMTP server configs
SUPPROT_EMAIL=your_support_email
SMTP_HOST=your_smtp_server
SMTP_PORT=465
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass